In [87]:


import json
file = open('superbowltweets.json', 'r')
tweetdata = json.loads(file.read())
def has_rams(tweet):
    if 'rams' in tweet or 'RamsNFL' in tweet:
        return True
def has_pats(tweet):
    if 'patriots' in tweet or 'pats' in tweet:
        return True
def main():
    patCount = 0 
    ramCount = 0
    bothCount = 0
    neitherCount =0
    for tweet in tweetdata:
        var = tweet["full_text"].lower()
        if has_pats(var) and has_rams(var):
            bothCount+=1
        elif has_rams(var):
            ramCount +=1
        elif has_pats(var):
            patCount +=1
        else:
            neitherCount +=1
        tweetcount = 0
    for tweet in tweetdata:
        tweetcount +=1
    print("Total Tweets: ", tweetcount)
    print("Ram Tweets: ", ramCount, "Patriot Tweets: ", patCount, "Neither: ", 
neitherCount, "Both: ", bothCount)
if __name__ == "__main__":
    main()

Total Tweets:  1722
Ram Tweets:  203 Patriot Tweets:  382 Neither:  773 Both:  364

In [85]:


import json
def main():
    with open("superbowltweets.json", "r") as f:
        tweets = json.loads(f.read())
    def has_rams():
        i = 1
        tweets_with_rams = 0
        ram_number = 0
        while i <= 1721:
            if "rams" in tweets[i]["full_text"] or "Rams" in tweets[i]["full_text"]or "RamsNFL" in tweets[i][
                "full_text"] or "ramsNFL" in tweets[i]["full_text"]:
                tweets_with_rams += 1
                i += 1
                continue
            else:
                i += 1
                continue
        return tweets_with_rams
    def has_pats():
        i = 1
        tweets_with_pats = 0
        ram_number = 0
        while i <= 1721:
            if "pats" in tweets[i]["full_text"] or "Pats" in tweets[i]["full_text"]or "Patriots" in tweets[i][
                "full_text"] or "patriots" in tweets[i]["full_text"]:
                tweets_with_pats += 1
                i += 1
                continue
            else:
                i += 1
                continue
        return tweets_with_pats
    print(has_pats())
    print(has_rams())
    print(has_rams() + has_pats())
    print(1722 - (has_rams() + has_pats()))
if __name__ == "__main__":
    main()

737
557
1294
428

In [91]:
import pandas as pd

df1 = pd.read_excel(r'C:\Users\u1398520\Downloads\Professional_Roles.xlsx')
print(df)
df2=pd.read_excel(r'C:\Users\u1398520\Downloads\Book1.xlsx')
print(df2)

counter=0
for line in df1:
    if counter==0:
        counter=counter+1
        continue
        print(line)

    Id                      Profession
0    1         Behavioral health nurse
1    2    Behavioral health technician
2    3   Behavioral health specialist
3    4      Behavioral health director
4    5                     Paraplanner
5    6           Para legal assistant
6    7               Paraprofessional
7    8                      Para medic
8    9                   para educator
9   10                   Bc ba analyst
10  11         Autism paraprofessional
11  12  Registered behavior technician
12  13              Behavior therapist
13  14      Behavior health technician
14  15                    Paraeducator
15  16                       Paramedic
16  17                  Para assistant
17  18                        Para-pro
18  19         instructional assistant
19  20           Behavioral Technician
20  21        Applied Behavior Analyst
21  22              Behavior assistant
22  23        Behavior care specialist
23  24                     Autism Aide
24  25        Lead behavior technician
25  26          Educational Technician
26  27      Autism behavior technician
27  28   Behavior Health Professionals
              profession
0            Paraplanner
1  Para legal assistant
2      Paraprofessional
3             Para medic
4          para educator
5          Bc ba analyst

In [20]:
import pandas as pd
df1 = pd.read_excel(r'C:\Users\u1398520\Downloads\Professional_Roles.xlsx')
counter=0
df1
df1.loc[df1['Id']==3]

   Id                     Profession
2   3  Behavioral health specialist

In [42]:
import pandas as pd
df1 = pd.read_excel(r'C:\Users\u1398520\Downloads\Professional_Roles.xlsx')
df2=pd.read_excel(r'C:\Users\u1398520\Downloads\Book1.xlsx')
counter=0
df1
df1.drop('Id',axis=1)
for i in df1.loc[:,'Profession']:
    for j in df2.loc[:,'Profession']:
        
    print(i)

Behavioral health nurse
Behavioral health technician
Behavioral health specialist
Behavioral health director
Paraplanner
Para legal assistant
Paraprofessional
Para medic
para educator
Bc ba analyst
Autism paraprofessional
Registered behavior technician
Behavior therapist
Behavior health technician
Paraeducator
Paramedic
Para assistant
Para-pro
instructional assistant
Behavioral Technician
Applied Behavior Analyst
Behavior assistant
Behavior care specialist
Autism Aide
Lead behavior technician
Educational Technician
Autism behavior technician
Behavior Health Professionals

In [54]:
import pandas as pd
df1 = pd.read_excel(r'C:\Users\u1398520\Downloads\Professional_Roles.xlsx')
df2=pd.read_excel(r'C:\Users\u1398520\Downloads\Book1.xlsx')
counter=0
df1
df1.drop('Id',axis=1)
dff1=df1.loc[:,'Profession']
dff2=df2.loc[:,'profession']
for i in dff2:
    for j in dff1:
        if i==j:
            print(i)

Paraplanner
Para legal assistant
Paraprofessional
Para medic
para educator
Bc ba analyst